*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: url('back.jpg') center center/cover no-repeat fixed;
    min-height: 100vh;
    position: relative;
}
body::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
}

/* header strart nav*/
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    position: fixed;
    width: 100%;
    z-index: 9;
}
nav img{
    width: 80px;
    transition: .4s;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-right: 30px;
}
header nav ul a{
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    transition: .3s;
}

.aul{
    color: black;
}
#btnmenu{
    display: none;
    transition: .3s;
}
#btnmenu:hover,header nav ul a:hover{
    opacity: .8;
    scale: 1.1;
}
.block{
    display: block;
}
@media (max-width:770px){
    header nav ul a{
        font-size: 16px;
    }
}
@media (max-width:700px){
    #btnmenu{
        display: block;
        position: absolute;
        color: white;
        font-size: 40px;
        right: 20px;
        z-index: 999999;
        translate: 0 -5px;
    }
    header nav ul{
        display: none;
    }
    header nav ul a{
        background-color: #444;
        display: block;
        width: 130px;
        text-align: center;
        border-radius: 8px;
        margin: 25px auto 25px;
        color: white;
    }
    
}
/* header end nav*/

/* header start back */
header .back{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}
header .back p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    opacity: .7;
}
header .back h1{
    font-size: 55px;
    font-weight: 600;
    opacity: .7;
}
@media(max-width:550px){
    header .back h1{
        font-size: 35px;
    }
    
}
/* header end back */

/* main start ser */
main .ser{
    background-color: white;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
main .ser .title,#protfolio .title,
#contact .title{
    color: #084353;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 800;
}
main .ser .cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 70px 0 50px 0;
}
main .ser .cards .card{
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    transition: 0.3s;
    margin: 18px 0;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
    text-align: center;
    transition: .4s;
}
main .ser .cards .card:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    scale: 1.080;
}
main .ser .cards .card i{
    font-size: 120px;
    margin: 10px 0 30px 0;
}
main .ser .cards .card .lang{
    font-size: 25px;
    margin-bottom: 20px;
    color: #1b1b1b;
    font-weight: 600;
}
main .ser .cards .card p{
    color: #444;
    font-size: large;
}
/* main end ser */

/* main start about */
main #about{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    padding: 0 40px;
}
main #about .container{
    width: 500px;
    color: #222;
}
main #about .container h2{
    color: #084353;
    text-transform: capitalize;
    font-size: 40px;
}
main #about .container p{
    margin: 35px 0;
    font-size: 20px;
    line-height: 1.5;
}
main #about .container p span{
    color: #084353;
    font-weight: 900;
}
main #about .container  a{
    display: block;
    width: fit-content;
    padding: 5px 30px;
    background-color: #084353;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: .5s;
}
main #about .container  a:hover{
    scale: 1.2;
}
main #about img{
    width: 400px;
    translate: 0 -50px;
}
@media(max-width:760px){
    main #about{
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding: 50px 10px;
    }
    main #about img{
        width: 400px;
        translate:-30px -100px;
    }
    main #about .container{
        width: 95%;
    }
    main #about .container h2{
        text-align: center;
    }
}
@media(max-width:400px){
    main #about{
        height: 800px;
    }
    .btnpro{
        margin: auto;
    }
}
/* main end about */
/* main start protfolio */
#protfolio{
    background-color: #1b1b1b;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 0;
}
#protfolio .title{
    margin:30px 0;
    padding-top: 10px;
    color: white;
}
#protfolio .cards{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#protfolio .cards .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 10px;
    border-radius: 10px;
    border: 2px solid #444;
    transition: .5s;
}
#protfolio .cards .card:hover,#protfolio .final-pro:hover{
    scale: .9;
}
#protfolio .cards .card a{
    background-color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    color: #084353;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
}
#protfolio img{
    width: 300px;
    border-radius: 10px 10px 0 0;
    
}
#protfolio .final-pro{
    background-color: #fff;
    display: block;
    width: 95%;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    color: #084353;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    transition: .5s;
}
/* main end protfolio */

/* main start contact */
#contact{
    background-color: #fff;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#contact .title{
    color: #084353;
    text-align: center;
    margin-bottom:50px ;
}
#contact .title i{
    transition: .5s;
    margin-left: 5px;
    color: #084353;
}
#contact .title i:hover{
    scale: 1.2;
}
#contact .container{
    background-color: rgb(138, 138, 138);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
}
#contact .container form{
    padding: 5px;
    width: 400px;
}
#contact .container form *{
    display: block;
}
#contact .container form input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 16px;
}
#contact .container form textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    outline: none;
}
#contact .container form .btnform{
    background-color: #084353;
    padding: 12px 50px;
    border: none;
    border-radius: 8px;
    transition: .3s;
    translate:0 15px;
    font-size: large;
    color: white;
    box-shadow: 0 0 5px 1px rgb(82, 82, 82);
    margin: auto;
}
#contact .container form .btnform:hover{
    scale: .9;
}
@media (max-width:945px) {
    #contact .container{
        flex-direction: column;
    }
    #contact .container form {
        margin-top: 30px;
    }
}
@media (max-width:550px){
    #contact .container{
        padding: 30px 0;
    }
    #contact .container form{
        width: 280px;
    }
    #contact .img-contact{
        width: 250px;
    }
}
@media (max-width:365px){
    #contact .container form{
        width: 250px;
    }
    #contact .img-contact{
        width: 220px;
    }
}
/* main end contact */

/* main start footer */
footer{
    background-color: #1b1b1b;
    padding: 30px;
    color: white;
    text-align: center;
}
footer p{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p span{
    color: #084353;
    font-weight: 700;
    font-size: large;
    margin: 0 3px;
    text-transform: capitalize;
}
footer p .copy{
    font-size: 35px;
    margin-right: 10px;
}
/* main end footer */